<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nyasama" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--
    TODO: enable this to use umeng
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    -->

    <application
        android:name=".ThisApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.ThreadListActivity"
            android:label="@string/title_activity_thread_list" >
        </activity>
        <activity
            android:name=".activity.PostListActivity"
            android:label="@string/title_activity_post_list" >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".activity.NewPostActivity"
            android:label="@string/title_activity_new_post" >
        </activity>

        <!--
        TODO: enable this to use umeng
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" >
        </receiver>
        <receiver android:name="com.umeng.message.RegistrationReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengBroadcastReceiver" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.nyasama.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RE_ELECTION_V2" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:process=":umengService_v1" >
            <intent-filter>
                <action android:name="com.nyasama.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.nyasama.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING" />
            </intent-filter>
        </service>
        <service
            android:name="org.android.agoo.service.ElectionService"
            android:exported="true"
            android:process=":umengService_v1" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_V2" />
            </intent-filter>
        </service>
        <service android:name="com.umeng.message.UmengIntentService" />
        <service android:name="com.umeng.message.UmengDownloadResourceService" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5469ce9efd98c54eb50004db" >
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="3177d3f956fc56bae3d557c3ee156c0f" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="NyaSama_Push" >
        </meta-data>
        -->

        <activity
            android:name=".activity.UserProfileActivity"
            android:label="@string/title_activity_user_profile" >
        </activity>
        <activity
            android:name=".activity.PMListActivity"
            android:label="@string/title_activity_personal_messages" >
        </activity>
        <activity
            android:name=".activity.MessagesActivity"
            android:label="@string/title_activity_messages" >
        </activity>
        <activity
            android:name=".activity.NoticeActivity"
            android:label="@string/title_activity_notice" >
        </activity>
        <activity
            android:name=".activity.AttachmentViewer"
            android:label="@string/title_activity_attachment_viewer" >
        </activity>
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".activity.FavListActivity"
            android:label="@string/title_activity_fav_list" >
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:label="About"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:launchMode="singleTop"
            android:name=".activity.SearchActivity"
            android:label="@string/title_activity_search" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
    </application>

</manifest>
