<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nyasama" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.nyasama.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nyasama.activity.ThreadListActivity"
            android:label="@string/title_activity_thread_list" >
        </activity>
        <activity
            android:name="com.nyasama.activity.PostListActivity"
            android:label="@string/title_activity_post_list" >
        </activity>
        <activity
            android:name="com.nyasama.activity.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.nyasama.activity.NewPostActivity"
            android:label="@string/title_activity_new_post" >
        </activity>
    </application>

</manifest>
